{% extends 'front.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

 <center> <button class="navbar-btn nav-button wow bounceInRight login" onclick=" window.open('../login')" data-wow-delay="0.4s" href="../login">Login</button> 
 <button class="navbar-btn nav-button wow bounceInRight login" onclick=" window.open('../register')" data-wow-delay="0.4s" href="../register">Register</button> 
 </center>
{% endblock %}
