<html>
<head>
<title>My Email Design</title>
</head>
<body>
<p>Votre poste est ajouté avec succées! Prière de rester joignable</p>

<p>Contacts :
*Malek hmem, Trésorier :54318456

*Imtinen abrougui, Trésorier :26892848

* Mohamed Amine, R.Events : 23781138

* Zeineb ben khalifa , Vice président : 54605056

* Houssem ben mabrouk , Vice président : 54655756

Follow us on Instagram 
</p>
</body>
<html>