<form method="post" action="{{ path('app_evenement_deletteback', {'ide': evenement.ide}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('deletteback' ~ evenement.ide) }}">
    <button class="btn">Delete</button>
</form>
