{% extends 'front.html.twig' %}

{% block title %}New Annoncef{% endblock %}

{% block body %}
    <h1>Create new Annoncef</h1>

    {{ include('annoncef/_form.html.twig') }}

    <a href="{{ path('app_annoncef_index') }}">back to list</a>
{% endblock %}
