<form method="post" action="{{ path('app_blackliste_delete', {'idb': blacklist.idb}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ blacklist.idb) }}">
    <button class="btn">Delete</button>
</form>
