<html>
<head>
<title>My Email Design</title>
</head>
<body>
<p>Dans le cadre du prés lancement de notre événement <span strong style="color:red;">{{evenement.titre}}</span>  <span strong style="color:blue;">ONLYWORK</span> vous invitent pour  passer une merveilleuse journée  le  {{evenement.datee ? evenement.datee|date('Y-m-d') : '' }}  . Nous sommes ravis de vous avoir parmi nous pour partager des moments agréables ensemble.</p> 

<p>Bien vouloir vous inscrire via ce <a href="http://127.0.0.1:8000/evenement/{{evenement.ide}}">lien</a> </p>

<p>Chers tous,

Je suis heureux de vous informer que l'événement que nous avons ajouté sur notre site web a été publié avec succès. Vous pouvez maintenant consulter tous les détails de l'événement sur notre page d'événements.

Nous sommes ravis d'avoir pu ajouter cet événement à notre calendrier et espérons que cela contribuera à promouvoir notre entreprise et à renforcer notre communauté. Nous vous encourageons à partager l'événement avec vos amis, votre famille et vos collègues afin de le rendre aussi réussi que possible.

N'hésitez pas à nous contacter si vous avez des questions ou des commentaires sur l'événement ou sur notre site web. Nous sommes toujours heureux d'avoir des retours de nos utilisateurs.

Merci de votre soutien continu.

Cordialement,</p>

<p>Contacts :
*Malek hmem, Trésorier :54318456

*Imtinen abrougui, Trésorier :26892848

* Mohamed Amine Bouchrit , R.Events : 23781138

* Zeineb ben khalifa , Vice président : 54605056

* Houssem ben mabrouk , Vice président : 54655756

Follow us on Instagram 
</p>
</body>
<html>
