<html>
<head>
<title>My Email Design</title>
</head>
<body>
<p>Dans le cadre du pré lancement de notre événement <span strong style="color:red;">{{evenement.titre}}</span>  <span strong style="color:blue;">ONLYWORK</span> vous invitent pour  passer une merveilleuse journée  le  {{evenement.datee ? evenement.datee|date('Y-m-d') : '' }}  . Nous sommes ravis de vous avoir parmi nous pour partager des moments agréables ensemble.</p> 

<p>Bien vouloir vous inscrire via ce <a href="http://127.0.0.1:8000/evenement/{{evenement.ide}}">lien</a> </p>

<p>Le paiement des frais se fait dès lundi matin et au plus tard le mardi. Places très limitées !</p>

<p>Contacts :
*Malek hmem, Trésorier :54318456

*Imtinen abrougui, Trésorier :26892848

* Mohamed Amine, R.Events : 23781138

* Zeineb ben khalifa , Vice président : 54605056

* Houssem ben mabrouk , Vice président : 54655756

Follow us on Instagram 
</p>
</body>
<html>
